@import 'variables';
@import "media";
*,body{
    font-family: 'Poppins', sans-serif;
    transition: all .3s ease;
}
html[data-theme = 'green']{
     --main-color:#133631;
     --second-color:#276B62;
     --third-color:#3c9a8d ;
}

html[data-theme = 'blue']{
    --main-color:#1A374D;
    --second-color:#406882;
    --third-color:#6998AB ;
}

// Header
header{
      height: 17vh;
      width: 100%;
      .logoimg{
          width: 100%;
          height: 100%;
          @include center;
          overflow: hidden;
          padding-top: 20px;
      }
      ul{
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;
          li{
              a{
                  color: var(--main-color);
                  text-decoration: none;
                  transition: all .3s ease;
                  &:hover{
                      color: var(--third-color);
                  }
              }
          }
          button{
              outline: none;
              border: none;
              background-color: transparent;
              i{
                  color: var(--third-color);
              }
          }
      }

  }

// Slider section
.swiper{
    width: 100%;
    height: 83vh;
    .btn-hero{
        color: var(--second-color);
    }
    .left-txt{
        width: 100%;
        height: 93%;
        @include center;
        h1{
            color: var(--main-color);
            font-weight: bold;
            font-size: 3.2rem;
            }
            p{
              color: var(--second-color);
              font-size: 1.1rem;
              line-height: 1.7;
              padding-right: 20px;
              padding-top: 20px;
            }
        .bottom{
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            height: auto;
            margin-top: 1rem;
            .start{
                background-color: var(--main-color);
                color: #fff;
                outline: none;
                transform: all .3s ease;
                border: none;
                padding: 10px 30px;
                border-radius: 20px;
                &:hover{
                    background-color: var(--second-color);
                }
            }
            i{
                background-color: var(--main-color);
                border-radius: 50%;
                width: 2.8rem;
                height: 2.8rem;
                line-height: 2.8rem;
                outline: none;
                transform: all .3s ease;
                border: none;
                color: white;
                font-size: 1.4rem;
                cursor: pointer;
                text-align: center;
                margin-left: 4rem;
                &:hover{
                    background-color: var(--third-color);
                }
                
            }
            a{
                text-decoration: none;
                color: var(--main-color);
                &:hover{
                    color: var(--third-color);
                }
                margin-left: 10px;
            }
        }
    
        .bottom-text{
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            height: auto;
            margin-top: 3rem;
            h4{
                color: var(--main-color);
                font-size: 1rem;
                margin-right: 2rem;
                
                i{
                    background-color: var(--main-color);
                    border-radius: 50%;
                    width: 1.3rem;
                    height: 1.3rem;
                    line-height: 1.3rem;
                    outline: none;
                    transform: all .3s ease;
                    border: none;
                    color: white;
                    font-size: .7rem;
                    cursor: pointer;
                    text-align: center;
                    margin-right: 3px;
                }
            }
        }

    }
    .right-img{
        width: 100%;
        height: 100%;
    }
}
.swiper-button-next:after, .swiper-button-prev:after{
    font-size: 30px;
}

// Second section
.second{
   width: 100%;
   height: auto;
   background-color: var(--main-color);
   padding: 40px 0;
   .second-text{
       width: 100%;
       height: 100%;
       h1{
           color: #fff;
           text-align: center;

       }
       p{
           color: #fff;
           text-align: center;
           line-height: 2;

       }
   }
   .second-item{
    width: 93%;
    height: 97%;
    background-color: var(--second-color);
    @include center;
    border-radius: 8px;
    padding: 18px;
    i{
        color: #fff;
        font-size: 4.3rem;
        margin: 8px 0;
    }
    h2{
     font-size: 1.2rem;
     font-weight: 700;
     color: #fff;
    }
    p{
      font-size: .9rem;
      text-align: center;
      color: #fff;
      font-weight: 200;
    }
    button{
          background-color: var(--main-color);
            color: #fff;
            outline: none;
            border: none;
            padding: 10px 14px;
            border-radius: 5px;
            transition: all .3s ;
            &:hover{
                background-color: var(--third-color);
            }
    }
   }
}


// Third section
.third{
    width: 100%;
    height: auto;
    padding: 30px 0;
    .left-side{
        width: 100%;
        height: 100%;
    }
    .right-side{
        width: 100%;
        height: 100%;
        padding-left: 40px;
        h1{
            color: var(--main-color);
            font-weight: 800;
            line-height: 1.4;
            font-size: 3rem;
        }
        p{
          line-height: 1.6;
          color: black;
          font-size: 1.1rem;
          
        }
        button{
            background-color: var(--main-color);
            color: #fff;
            outline: none;
            border: none;
            padding: 10px 14px;
            border-radius: 5px;
            transition: all .3s 
            ease;
            margin-right: 3rem;
            &:hover{
                background-color: var(--third-color);
            }
        }
    }
}

// Statistic section
.statistic{
    width: 100%;
    height: 30vh;
    background-color: var(--second-color);
    .left-text{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-right:4px solid var(--main-color) ;
        h1{
            color: white;
            font-size: 1.5rem;
         }
    }
    .statistic-item{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1{
           color: white;
           font-size: 3rem;
           font-weight: 700;
        }
        p{
           color: white;
           i{
               margin-right: 6px;
           }
        }
    }
}

// Sertificates section 
.sertificates{
    height: auto;
    width: 100%;
    .item{
        width: 100%;
        height: 100%;
        padding: 40px;
       img{
           filter: grayscale(100%);
       }
    }
}

// Partners section
.partners{
    width: 100%;
    height: auto;
    background-color: var(--main-color);
    padding: 50px 0;
    
    .text{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1{
          color: #fff;
        }
        p{
            text-align: center;
            color: #fff;
        }
    }
    .partner-box{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        .partner{
        width: 16%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        border-radius: 5px;
        margin: 10px;
        
    }
  }
   
}

// Discover section
.discover{
    background-color: #fff;
    padding:30px 0 ;
    .discover-box{
        width: 100%;
        height: 100%;
        background-color: var(--second-color);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 60px 0;
        h1{
          color: #fff;
          text-align: center;
          margin-bottom: 1rem;
        }
        button{
            color: white;
            background-color: var(--main-color);
            outline: none;
            border: none;
            padding: 10px 15px;
            border-radius: 5px;
            transition: all .3s ease;
            &:hover{
                background-color: var(--third-color);
            }
        }
    }
}

// Footer section
footer{
    width: 100%;
    height: auto;
    padding: 30px 30px 0 30px;
    .ft1{
        width: 100%;
        height: 100%;
        .top{
            display: flex;
            flex-direction: column;
            p{
            font-size: 1.1rem;
           }
        }
        
        .icons{
            height: auto;
            width: 50%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            i{
                color: var(--second-color);
                font-size: 1.2rem;
            }
        }
    }

    .links{
        width: 100%;
        height: 100%;
        h1{
            color: var(--main-color);
            font-weight: bold;
            font-size: 1.5rem;
            line-height: 2;
        }
        p{
            color: var(--main-color);
            font-size: 1rem;
        }
    }
     .right-input{
        width: 100%;
        height: 100%;
        padding: 0 10px;
        h1{
            font-size: 1.5rem;
            line-height: 2;
            font-weight: bold;
        }
        .all{
            width: 100%;
            display: flex;
            flex-direction: row;
            overflow: hidden;
            input{
             color: #fff;
             background-color: var(--main-color);
             border: none;
             outline: none;
             padding: 8px 25px;
             font-size: .8rem;
             font-weight: 400;
            }
            button{
             background-color: var(--second-color);
             color: #fff;
             outline: none;
             transform: all .3s ease;
             border: none;
             padding: 10px 30px;
             &:hover{
                 background-color: var(--third-color);
             }
            }
        }
        p{
            margin:1rem 0 ;
        }
     }
    .footer-end{
        width: 100%;
        height: 100%;
        @include center;
        border-top: 2px solid var(--main-color);
        padding:20px;
      p{
          margin: 0;
          color: var(--third-color);
          font-size: .8rem;
      }
    }
}


.load{
    background-color: #fff;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 763872;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}